In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('decisiontree_ch6.csv')
data.head()

   ID   mesin  bangku penggerak    label
0   1  bensin       4     depan    sedan
1   2  bensin       2     depan    sedan
2   3  bensin       8  belakang  minibus
3   4  diesel       6     depan  minibus
4   5  bensin       5  belakang  minibus

In [3]:
encoding = {'mesin':{'bensin':0,'diesel':1}, 
            'penggerak':{'depan':0, 'belakang':1}}
data.replace(encoding, inplace=True)

In [4]:
data.head()

   ID  mesin  bangku  penggerak    label
0   1      0       4          0    sedan
1   2      0       2          0    sedan
2   3      0       8          1  minibus
3   4      1       6          0  minibus
4   5      0       5          1  minibus

In [5]:
x = data.drop(['ID', 'label'], axis=1)
y = data['label']

In [6]:
import sklearn.model_selection as ms
x_train, x_test, y_train, y_test = ms.train_test_split(x,y, test_size=0.2, random_state=10)

In [7]:
import sklearn.tree as tree
model1 = tree.DecisionTreeClassifier(criterion='entropy', max_depth=5)
model1.fit(x_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=5)

In [8]:
y_predict = model1.predict(x_test)
y_predict

array(['minibus', 'sedan', 'minibus', 'sedan', 'sedan', 'sedan', 'sedan',
       'minibus'], dtype=object)

In [9]:
y_test

2     minibus
27      sedan
35    minibus
30      sedan
14      sedan
13      sedan
7       sedan
24    minibus
Name: label, dtype: object

In [10]:
import sklearn.metrics as met
print(met.accuracy_score(y_test,y_predict))

1.0

In [11]:
model2 = tree.DecisionTreeClassifier(criterion='gini', max_depth=5)
model2.fit(x_train, y_train)

DecisionTreeClassifier(max_depth=5)

In [12]:
y_predict2 = model2.predict(x_test)
y_predict2

array(['minibus', 'sedan', 'minibus', 'sedan', 'minibus', 'sedan',
       'sedan', 'minibus'], dtype=object)

In [13]:
print(met.accuracy_score(y_test, y_predict2))

0.875

In [16]:
import os
os.environ['PATH'] = os.environ['PATH']+';'+os.environ['CONDA_PREFIX']+r"\Library\bin\graphviz"

In [17]:
import pydotplus as pp
labels = ['mesin', 'bangku', 'penggerak']
dot_data = tree.export_graphviz(model1, out_file=None, feature_names=labels, filled=True, rounded=True)
graph = pp.graph_from_dot_data(dot_data)
graph.write_png('decisiontree.png')

True