# Train Pre-processing

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [27]:
df = pd.read_csv("train.csv")
df.head(10)

,id,Umur,Kelas Pekerja,Berat Akhir,Pendidikan,Jmlh Tahun Pendidikan,Status Perkawinan,Pekerjaan,Jenis Kelamin,Keuntungan Kapital,Kerugian Capital,Jam per Minggu,Gaji
0,0,21,Wiraswasta,242912,SMA,9,Belum Pernah Menikah,Servis Lainnya,Perempuan,0.0,0.0,35.0,<=7jt
1,1,49,Wiraswasta,140782,10th,6,Cerai,Ekesekutif Managerial,Perempuan,0.0,0.0,40.0,<=7jt
2,2,44,Wiraswasta,120057,D3,12,Menikah,Ekesekutif Managerial,Laki2,61404000.0,0.0,45.0,>7jt
3,3,24,Wiraswasta,194630,Sarjana,13,Belum Pernah Menikah,Spesialis,Laki2,0.0,0.0,35.0,<=7jt
4,4,33,Wiraswasta,219619,Master,14,Menikah,Spesialis,Laki2,210336000.0,0.0,40.0,>7jt
5,5,31,Wiraswasta,331065,Sarjana,13,Belum Pernah Menikah,Ekesekutif Managerial,Perempuan,0.0,19712000.0,40.0,<=7jt
6,6,32,Wiraswasta,111520,Pendidikan Tinggi,10,Belum Pernah Menikah,Servis Lainnya,Laki2,0.0,0.0,34.0,<=7jt
7,7,20,Wiraswasta,115057,SMA,9,Belum Pernah Menikah,Perbaikan Kerajinan,Laki2,0.0,0.0,40.0,<=7jt
8,8,23,?,191910,Pendidikan Tinggi,10,Belum Pernah Menikah,?,Laki2,0.0,0.0,40.0,<=7jt
9,9,43,Wiraswasta,134120,SMA,9,Cerai,Sales,Perempuan,0.0,0.0,46.0,<=7jt

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35994 entries, 0 to 35993
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     35994 non-null  int64
 1   Umur                   35994 non-null  int64
 2   Kelas Pekerja          35994 non-null  object
 3   Berat Akhir            35994 non-null  int64
 4   Pendidikan             35994 non-null  object
 5   Jmlh Tahun Pendidikan  35994 non-null  int64
 6   Status Perkawinan      35994 non-null  object
 7   Pekerjaan              35994 non-null  object
 8   Jenis Kelamin          35994 non-null  object
 9   Keuntungan Kapital     35994 non-null  float64
 10  Kerugian Capital       35994 non-null  float64
 11  Jam per Minggu         35994 non-null  float64
 12  Gaji                   35994 non-null  object
dtypes: float64(3), int64(4), object(6)
memory usage: 3.6+ MB

In [29]:
df.columns = df.columns.str.replace(' ','_')

In [30]:
df.isin({'?'}).sum()

id                          0
Umur                        0
Kelas_Pekerja            2063
Berat_Akhir                 0
Pendidikan                  0
Jmlh_Tahun_Pendidikan       0
Status_Perkawinan           0
Pekerjaan                2069
Jenis_Kelamin               0
Keuntungan_Kapital          0
Kerugian_Capital            0
Jam_per_Minggu              0
Gaji                        0
dtype: int64

In [31]:
df = df[df.Kelas_Pekerja != '?']
df = df[df.Pekerjaan != '?']

In [32]:
df['Pendidikan'].value_counts()

SMA                     11058
Pendidikan Tinggi        7384
Sarjana                  5737
Master                   1900
D4                       1447
11th                     1187
D3                       1121
10th                      907
Sekolah Professional      604
7th-8th                   601
9th                       524
Doktor                    439
12th                      436
5th-6th                   357
1st-4th                   170
SD                         53
Name: Pendidikan, dtype: int64

In [33]:
df['Pendidikan'] = df['Pendidikan'].replace(['1st-4th', '5th-6th'], 'SD')
df['Pendidikan'] = df['Pendidikan'].replace(['7th-8th', '9th'], 'SMP')
df['Pendidikan'] = df['Pendidikan'].replace(['10th', '11th', '12th'], 'SMA')

In [34]:
df['Pendidikan'].value_counts()

SMA                     13588
Pendidikan Tinggi        7384
Sarjana                  5737
Master                   1900
D4                       1447
SMP                      1125
D3                       1121
Sekolah Professional      604
SD                        580
Doktor                    439
Name: Pendidikan, dtype: int64

In [35]:
df['Status_Perkawinan'].value_counts()

Menikah                 15863
Belum Pernah Menikah    10936
Cerai                    4663
Berpisah                 1063
Janda                     945
Menikah LDR               455
Name: Status_Perkawinan, dtype: int64

In [36]:
df['Status_Perkawinan'] = df['Status_Perkawinan'].replace(['Berpisah', 'Janda'], 'Cerai')
df['Status_Perkawinan'] = df['Status_Perkawinan'].replace(['Menikah LDR'], 'Menikah')

In [37]:
df['Status_Perkawinan'].value_counts()

Menikah                 16318
Belum Pernah Menikah    10936
Cerai                    6671
Name: Status_Perkawinan, dtype: int64

In [38]:
df = df.drop(['id', 'Jmlh_Tahun_Pendidikan', 'Berat_Akhir'], axis=1)

In [39]:
cat_columns = df.columns[(df.dtypes =='object').values].tolist()
cat_columns

['Kelas_Pekerja',
 'Pendidikan',
 'Status_Perkawinan',
 'Pekerjaan',
 'Jenis_Kelamin',
 'Gaji']

In [40]:
from sklearn.preprocessing import LabelEncoder

for col in cat_columns:
        df[col] = LabelEncoder().fit_transform(df[col])
df.head()

,Umur,Kelas_Pekerja,Pendidikan,Status_Perkawinan,Pekerjaan,Jenis_Kelamin,Keuntungan_Kapital,Kerugian_Capital,Jam_per_Minggu,Gaji
0,21,6,6,0,9,1,0.0,0.0,35.0,0
1,49,6,6,1,1,1,0.0,0.0,40.0,0
2,44,6,0,2,1,0,61404000.0,0.0,45.0,1
3,24,6,8,0,10,0,0.0,0.0,35.0,0
4,33,6,3,2,10,0,210336000.0,0.0,40.0,1

In [50]:
X= df.drop(['Gaji'], axis=1)
y = df['Gaji']

In [44]:
from sklearn import preprocessing
x_normal = preprocessing.normalize(X)

In [51]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=4)

# ML Model

## Random Forest Classifier

In [52]:
from sklearn.ensemble import RandomForestClassifier

rfclas = RandomForestClassifier()
rfclas.fit(X_train, y_train)
rfclas.score(X_test, y_test)

0.8431834929992631

## XGBoost

In [53]:
from xgboost import XGBClassifier
XGB_model = XGBClassifier()
XGB_model.fit(X_train, y_train)
XGB_model.score(X_test, y_test)

0.866617538688283

## CatBoost

In [54]:
from catboost import CatBoostClassifier

ctb_model = CatBoostClassifier(verbose=0, n_estimators=400)

ctb_model.fit(X_train, y_train)
ctb_model.score(X_test, y_test)

0.8672070744288872